.ex-1-square{
	transition: background-color 2s;
}

.ex-1-square:hover{
	background-color: red;
}

.ex-2-square{
	transition: width 2s;
}

.ex-2-square:active{
	width:100%;
}

.ex-3-square{
	transition: border-radius .5s;
}

.ex-3-square:hover{
	border-radius:50%;
}

.ex-4-square{
	transition:background-color 1s;
}

.ex-4-square:hover{
	background-color: white;
}

.ex-5-square{
	transition:transform 1s;
}

.ex-5-square:hover{
	transform:scale(2);
}

.ex-5-square:active{
	transform:scale(.5);
}

img.ex-6-img:hover{
	filter: grayscale(100%);
}

img.ex-7-img{
	transition: filter 2s;
}

img.ex-7-img:hover{
	filter: grayscale(80%) sepia(40%);
}

img.ex-8-img{
	transition: all 2s;
}

img.ex-8-img:hover{
	filter: grayscale(60%) sepia(40%);
	border-radius: 20px;
}

img.ex-9-img{
	transition: all 2s;
}

img.ex-9-img:hover{
	filter: grayscale(60%) sepia(40%);
	border-radius: 20px;
	transform: scale(1.5);
}

i.ex-10-icon{
	animation: 1s linear infinite loop;
}

@keyframes loop {
	0%{
		transform: rotate(360deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

i.ex-11-icon:hover{
	animation: 2s alternate ease-in clockwise;
}

@keyframes clockwise {
	0%{
		transform: rotate(0deg);
	}
	75%{
		transform:rotate(300deg)
	}
	100%{
		transform: rotate(0deg);
	}
}

a.ex-12-button:hover div.ex-12-top-white{
	animation:2s linear x-flow-top;
}

@keyframes x-flow-top {
	0%{
		left:10%;
	}
	50%{
		left:calc(70% - 3px);
	}
	100%{
		left:10%;
	}
}

a.ex-12-button:hover div.ex-12-bottom-white{
	animation:2s linear circle-flow-bottom;
}

@keyframes circle-flow-bottom {
	0%{
		right:10%;
	}
	50%{
		right:calc(70% - 3px);
	}
	100%{
		right:20%;
	}
}

a.ex-13-button:hover div.ex-13-top-white{
	animation:2s linear circle-flow-top;
}

@keyframes circle-flow-top {
	0% {
		left: 10%;
		top: -10px;
	}
	35% {
		left: calc(70% - 3px);
		top: -10px;
	}
	50% {
		left: calc(70% - 3px);
		top: 100%;
	}
	75% {
		left: 0;
		top: 100%;
	}
	90% {
		left: -10px;
		top: -10px;
	}
	100% {
		left: 10%;
		top: -10px;
	}
}

a.ex-13-button:hover div.ex-13-bottom-white{
	animation:2s linear x-flow-bottom;
}

@keyframes x-flow-bottom {
	0% {
		right: 10%;
		bottom: -10px;
	}
	35% {
		right: calc(70% - 3px);
		bottom: -10px;
	}
	50% {
		right: calc(70% - 3px);
		bottom: 100%;
	}
	75% {
		right: 0;
		bottom: 100%;
	}
	90% {
		right:-10px;
		bottom: -10px;
	}
	100% {
		right: 10px;
		bottom: -10px;
	}
}
